/* General and Shared Styling */

html, body {
  width: 100%;
  height: 100%;
  font-family: 'mulish';
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  margin: 1.25rem 0 0 0;
  padding: 0;
  z-index: 10;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h4 {
  font-size: larger;
}

.mainImages {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 39rem;
  max-height: 39rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mainDiv {
  margin: 0;
  padding: 0;
}

/* Home Page Styling */

.homeHeader {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.25rem;
  margin: 1.875rem 0;
  padding: 0;
}

.mainBlurb {
  margin: 39rem 0 1.875rem 1.875rem;
  padding: 0;
}

.mainBlurb > p {
  margin-right: 1.875rem;
  line-height: 1.5;
}

/* OurWork Page Styling */

.workInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 39rem;
  padding: 1rem;
  gap: 1.875rem;
}

.workImages {
  max-width: 25rem;
}

.siteDisplay > span {
  font-size: 1.5rem;
  margin: .6rem 0 1.25rem 0;
}

.siteDisplay {
  display: flex;
  flex-direction: column;
}

/* OurTeam Page Styling */

.teamImages {
  max-width: 7.5rem;
  max-height: 9.375rem;
}

.teamInfo {
  margin-top: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamHeader, .workHeader, .careerHeader {
  font-size: 2.8rem;
  position: absolute;
  top: 32rem;
  margin: 1.875rem;
}

.teamMember {
  display: flex;
  margin: 1.25rem .3rem;
  gap: 1.25rem;
}

.teamBlurb {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.teamBlurb > p, .teamBlurb > h4 {
  max-width: 43.75rem;
  margin: 0 .625rem .625rem .625rem;
  line-height: 1.25;
}

/* Careers Page Styling */

.careerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 39rem 1.25rem 2.5rem 1.25rem;
  padding: .625rem;
}

.careerInfo > h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.careerNote {
  margin-top: 1rem;
}

/* Contact Page Styling */

.contactPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.contactBlurb {
  margin: 9.375rem 0 0 1.875rem;
}

.contactBlurb > h4, .contactBlurb > h3 {
  font-weight: 300;
}

.contactBlurb > h3 {
  font-size: 1.75rem;
}

.contactBlurb > h1 {
  font-size: 3rem;
  font-weight: 300;
}

.contactForm {
  background-color: rgb(216, 209, 209);
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 65%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}
